img
{
    width:300px;
    height:200px;
    max-width:300px;
    max-height:300px;
    margin-top: 10px;
  
}
.main1
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    row-gap:20px;
    column-gap: 20px;
}
